.banner {
  img {
    width: 200px;
    margin: auto;
    display: block;
  }
  text-align: center;
}
.banner-text {
  color: #1c79c0;
  h5 {
    color: #00205b;
  }
}

.login-form {
  h3 {
    color: #1c79c0;
  }
}
